<div class="jumbotron mb-0">
  <h1 class="display-4 center">Ruby Hack Night</h1>
  <p class="lead">Will it recycle?</p>
  <hr class="my-4">
  <p>Stop throwing trash away and recycle it! See if various items can be recycled.</p>
</div>
